body {
    font: 22px/34px 'Allerta', sans-serif;
    font-weight: 100;
}
#nav {
    font: 13px/20px 'Allerta', sans-serif;
}
h1 {
    font-size: 3.0em;
    letter-spacing: -2px;
    padding: 20px 0 0;
    margin: 0 auto;
    width: 100%;
    line-height: 1.3em;
    font-weight: 100;
    font-style: normal;
}
h2 {
    font-size: 1.6em;
    line-height: 1.8em;
    font-weight: 100;
    font-style: normal;
}
h3 {
    font-size: 1.3em;
    line-height: 1.5em;
    font-weight: 100;
    font-style: normal;
}
h1.siteTitle {
    letter-spacing: -2px;
    padding: 0;
    display: inline-block;
    margin: 17px 0 0;
}
h1.siteTitle a span {
    margin-top: -95px;
    margin-left: 120px;
    margin-bottom: 0;
    position: absolute;
}
.square {
    margin-top: 0;
}
@media only screen and (max-width:767px) {
    #nav {
    font: 13px/20px 'Allerta', sans-serif;
}
.tinynav {
    margin-top: -75px!important;
}
}blockquote {
    font: 42px/54px 'Allerta', sans-serif;
}
.filesharing-item-title a:link {
    font: 14px 'Allerta', sans-serif;
}
.form-input-field {
    font: 18px/20px 'Allerta', sans-serif;
    font-weight: 100;
}
textarea.form-input-field {
    font: 18px/20px 'Allerta', sans-serif;
    font-weight: 100;
}
.form-input-button {
    font: 18px/20px 'Allerta', sans-serif;
    font-weight: 100;
}
@media only screen and (max-width:767px) {
    body {
    font: 1.0em/1.4em 'Allerta', sans-serif;
}
}