@model HRE.Models.InschrijvingModel
           
@{
    ViewBag.Title = "Hallo Early Bird!";
    int aantalEarlyBirds = HRE.Dal.LogonUserDal.DetermineNumberOfParticipants(true);
    int aantalStarters = HRE.Dal.LogonUserDal.DetermineNumberOfParticipants(false);
    int aantalEarlyBirdStartPlekken = HRE.Common.HreSettings.AantalEarlyBirdStartPlekken;
    int aantalStartPlekken = HRE.Common.HreSettings.AantalStartPlekken;
}

@if (Model==null) {
    @Html.Raw(ViewBag.Message)
} else {
    <h2>Hallo Early Bird!</h2>
    <p>@Model. PrimaryAddress.Firstname, gaaf dat je weer mee wilt doen! Het 1e Rondje Eilanden was vorig jaar een mooi feestje! Dankjewel voor het vertrouwen meteen bij deze eerste editie!</p>
    <p>Je krijgt alvast een voorproefje van de nieuwe layout van de website.</p>
    <p>Het fantastische parcours van de voormalige Eilandentriathlon - de mooiste zwemloop ronde van Nederland - daar hoeft eigenlijk helemaal niks aan toegevoegd worden. Toch doen we dat wel met een avondprogramma en leuke andere activiteiten.</p>
    <div style="float: right; font-size: large; font-weight: bold;">Nog <span class="stats participant-counter">@aantalEarlyBirdStartPlekken-@aantalEarlyBirds</span> Early Birds™ te gaan</div>
    <div style="float: right; font-size: large; font-weight: bold;">Totaal <span class="stats participant-counter">@aantalStarters</span> / @aantalStartPlekken startplaatsen vergeven</div>
    <p class="early-bird-link">@Html.ActionLink("Early Bird inschrijving", "Inschrijven", new { entryModel = Model })</p>
}
