@model HRE.Models.RegisterModel

@{
    ViewBag.Title = "Eilanders";
}

<h2>Eilander worden?</h2>
<p>Altijd al een echte 'Eilander' willen zijn?<br /><br />Maar geen ouders op de Wadden? Niet geboren en getogen op de plassen? Maak nu gratis een account aan op www.hetrondjeeilanden.nl en je word toch een eilander!</p>
<p>Je wordt dan meteen op de hoogte gehouden van nieuwtjes over Het Rondje Eilanden en andere mogelijkheden op deze site (meer volgt later). Dat is misschien nog wel een betere reden... ;)</p>

<a href="/Account/Login"><img src="/Content/img/sign_up3.png" class="signuplarge" alt="Inloggen" title="Inloggen" /></a>
