
#stacks_in_127_page3 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_127_page3 .stacks_right {
	float:right;
	width:49%;
}/* Start Liquid Columns stack CSS code */ .stacks_in_130_page3column { float:left; display:inline; }.stacks_in_130_page3one-third.stacks_in_130_page3column { 	width: 33.333333333% /* 320px / 960px */;}.stacks_in_130_page3first{	padding-left: 0;	padding-right: 13px;	padding-bottom: 0;}.stacks_in_130_page3middle{	padding-left: 7px;	padding-right: 6px;	padding-bottom: 0;}.stacks_in_130_page3last{	padding-left: 13px;	padding-right: 0;	padding-bottom: 0;}@media only screen and (max-width: 979px) {	.stacks_in_130_page3first{	padding-left: 0;	padding-right: 0;	padding-bottom: 20px;	}	.stacks_in_130_page3middle{		padding-left: 0;		padding-right: 10px;		padding-bottom: 0;	}		.stacks_in_130_page3last{		padding-left: 10px;		padding-right: 0;		padding-bottom: 0;	}	    .stacks_in_130_page3one-third.stacks_in_130_page3column {     	width: 50%;     }    .stacks_in_130_page3one-third.stacks_in_130_page3column.stacks_in_130_page3more-important {     	width:100%;     }    }@media only screen and (max-width: 480px) {	.stacks_in_130_page3first{	padding-left: 0;	padding-right: 0;	padding-bottom: 10px;	}	.stacks_in_130_page3middle{		padding-left: 0;		padding-right: 0;		padding-bottom: 10px;	}		.stacks_in_130_page3last{		padding-left: 0;		padding-right: 0;		padding-bottom: 0;	}	    .stacks_in_130_page3one-third.stacks_in_130_page3column {     	width: 100%;    }        .stacks_in_130_page3one-third.stacks_in_130_page3column.stacks_in_130_page3more-important {     	width:100%;     }    }/* End Liquid Columns stack CSS code */
#stacks_in_138_page3 {
	background-color: #02A5EC;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
	padding:  10px;
}

#stacks_in_140_page3 {
	background-color: #02A5EC;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
	padding:  10px;
}

#stacks_in_144_page3 {
	background-color: #02A5EC;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
	padding:  10px;
}
/* Start Liquid Columns stack CSS code */ .stacks_in_134_page3column { float:left; display:inline; }.stacks_in_134_page3one-third.stacks_in_134_page3column { 	width: 33.333333333% /* 320px / 960px */;}.stacks_in_134_page3first{	padding-left: 0;	padding-right: 13px;	padding-bottom: 0;}.stacks_in_134_page3middle{	padding-left: 7px;	padding-right: 6px;	padding-bottom: 0;}.stacks_in_134_page3last{	padding-left: 13px;	padding-right: 0;	padding-bottom: 0;}@media only screen and (max-width: 979px) {	.stacks_in_134_page3first{	padding-left: 0;	padding-right: 0;	padding-bottom: 20px;	}	.stacks_in_134_page3middle{		padding-left: 0;		padding-right: 10px;		padding-bottom: 0;	}		.stacks_in_134_page3last{		padding-left: 10px;		padding-right: 0;		padding-bottom: 0;	}	    .stacks_in_134_page3one-third.stacks_in_134_page3column {     	width: 50%;     }    .stacks_in_134_page3one-third.stacks_in_134_page3column.stacks_in_134_page3more-important {     	width:100%;     }    }@media only screen and (max-width: 480px) {	.stacks_in_134_page3first{	padding-left: 0;	padding-right: 0;	padding-bottom: 10px;	}	.stacks_in_134_page3middle{		padding-left: 0;		padding-right: 0;		padding-bottom: 10px;	}		.stacks_in_134_page3last{		padding-left: 0;		padding-right: 0;		padding-bottom: 0;	}	    .stacks_in_134_page3one-third.stacks_in_134_page3column {     	width: 100%;    }        .stacks_in_134_page3one-third.stacks_in_134_page3column.stacks_in_134_page3more-important {     	width:100%;     }    }/* End Liquid Columns stack CSS code */
#stacks_in_146_page3 {
	background-color: #02A5EC;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
	padding:  10px;
}

#stacks_in_148_page3 {
	background-color: #02A5EC;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
	padding:  10px;
}

#stacks_in_142_page3 {
	background-color: #02A5EC;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
	padding:  10px;
}
