<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings configSource="Configuration\Dev\ConnectionStrings.config"></connectionStrings>
  <appSettings configSource="Configuration\Dev\AppSettings.config" />
  <system.web>
    <globalization culture="nl-NL" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <sessionState cookieless="UseDeviceProfile" />
    <machineKey validationKey="0009C29F94629146B6E4DD860DBE3EC089BF1627F8F7D10DEDE6E419A14151E801FB8450C5903540704A283B32050034337E3W0D5C85D902481F0950BBF348E1" decryptionKey="503695B3834D2509F6B1C415AA2BAB538278FB70ADA47E20D5A3E6ABD31DC345" validation="SHA1" decryption="AES" />
    <compilation configSource="Configuration\Dev\Compilation.config" />
    <customErrors mode="Off" />
    <healthMonitoring configSource="Configuration\Dev\HealthMonitoring.config" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <roleManager enabled="true" defaultProvider="MySQLRoleProvider">
      <providers>
        <clear />
        <add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="HRE" description="" connectionStringName="LocalMySqlServer" writeExceptionsToEventLog="True" autogenerateschema="True" />
      </providers>
    </roleManager>
    <anonymousIdentification enabled="false" />
    <profile defaultProvider="MySQLProfileProvider">
      <providers>
        <clear />
        <add name="MySQLProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="HRE" description="" connectionStringName="LocalMySqlServer" writeExceptionsToEventLog="True" autogenerateschema="True" />
      </providers>
    </profile>
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <clear />
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="HRE" description="" connectionStringName="LocalMySqlServer" writeExceptionsToEventLog="True" autogenerateschema="True" enablePasswordRetrieval="True" enablePasswordReset="True" requiresQuestionAndAnswer="False" requiresUniqueEmail="True" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule,System.Web.Routing,Version=3.5.0.0,Culture=neutral,PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler,              System.Web, Version=2.0.0.0,              Culture=neutral,              PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <!-- <rewrite>
		<rules>
			<rule name="Add index.html postfix" >
				<match url="^(page\d)/$" ignoreCase="true" />
				<action type="Redirect" url="{R:1}/index.html" appendQueryString="true" />
			</rule>
		</rules>
	</rewrite> -->
    <staticContent>
      <mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz" />
      <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="application/octet-stream" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="inschrijven/index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp configSource="Configuration\Dev\SmtpSettings.config" />
    </mailSettings>
    <!-- <defaultProxy>
      <proxy usesystemdefault="False" bypassonlocal="True" proxyaddress="http://127.0.0.1:50310" />
      </defaultProxy>
    -->
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework> -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AssurePaySoap">
          <security mode="Transport" />
        </binding>
        <binding name="AssurePaySoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.sisow.nl/Sisow/AssurePay.asmx" binding="basicHttpBinding" bindingConfiguration="AssurePaySoap" contract="Sisow.AssurePaySoap" name="AssurePaySoap" />
    </client>
  </system.serviceModel>
</configuration>