/* Source: http://codepen.io/ryanseddon/pen/BqJhf */
/* General style to make original checkboxes and radio's invisible. */
:root .editor-field > input[type="checkbox"],
:root .editor-field > input[type="radio"]  { 
	padding: 0;
	margin: 0;
	height: 30px;
	width: 40px;
	float: left;
	position: absolute;
	left: 300;
	opacity: 0;
}


/* General background image and display mode for inputs. */
:root .editor-field > input ~ label:before {
	background: url('/Content/img/InschrijvenHREIconSet.png') -35px -214px no-repeat;
	content: "";
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin-right: 6px;
}

/* Checkbox image size (default). */
:root .editor-field > input[type="checkbox"] ~ label:before {
	height: 30px;
	width: 46px;
}

/* Has MyLaps chop checkbox image size (less wide than default). 
:root .editor-field > input[type="checkbox"][name="HasMyLapsChipNummer"] ~ label:before,
:root .editor-field > input[type="checkbox"][name="test-checkbox"] ~ label:before 
 {
	width: 30px;
} */

			
/* Radio button image size. */
:root .editor-field > input[type="radio"] ~ label:before {
	height: 30px;
	width: 25px;
}
			
/****** Gender ***/
/* Unchecked male radio button. */
:root .editor-field > input[type="radio"][value="M"] + label:before {
	background-position: -30px -214px;
}

/* Unchecked female radio button. */
:root .editor-field > input[type="radio"][value="V"] + label:before {
	background-position: -5px -214px;
    color: white;
}

/* Checked male radio button. */
:root .editor-field > input[type="radio"][value="M"]:checked + label:before {
	background-position: -93px -214px;
}

/* Checked female radio button. */
:root .editor-field > input[type="radio"][value="V"]:checked + label:before {
	background-position: -67px -214px;
}

/****** Serie ***/
/* Unchecked recreatieve serie radio button. */
:root .editor-field > input[type="radio"][value="R"] ~ label:before {
	background-position: -684px -214px;
}

/* Unchecked top serie radio button. */
:root .editor-field > input[type="radio"][value="W"] ~ label:before {
	background-position: -655px -214px;
}

/* Checked recreatieve serie radio button. */
:root .editor-field > input[type="radio"][value="R"]:checked ~ label:before {
	background-position: -621px -214px;
}

/* Checked top serie radio button. */
:root .editor-field > input[type="radio"][value="W"]:checked ~ label:before {
	background-position: -592px -214px;
}


li.test,
.editor-field.test {
    display: inline-block;
    *display: block;
    zoom: 1;
}

li.test:before {
    content: '\2022';
    margin: 0px 6px 0px -16px;
    font-size: larger;
}

li.test {
    margin-right: 0px !important;
}

.edit-allowed .editor-field.test {
    margin: 0px !important;
    width: auto !important;
}


/****** Test checkbox ***/
/* Unchecked test checkbox. */
:root .editor-field > input[type="checkbox"][name="test-checkbox"] ~ label:before { 
	background-position: -133px -251px;
}

/* Checked bike checkbox. */
:root .editor-field > input[type="checkbox"][name="test-checkbox"]:checked ~ label:before {
	background-position: -197px -251px;
}
			
/****** Parc Fermé  ***/
/* Unchecked bike checkbox. */
:root .editor-field > input[type="checkbox"][name="Bike"] ~ label:before { 
	background-position: -382px -217px;
}

/* Checked bike checkbox. */
:root .editor-field > input[type="checkbox"][name="Bike"]:checked ~ label:before {
	background-position: -440px -218px;
}

/****** NTB licentie ***/
/* Unchecked NTB license checkbox. */
:root .editor-field > input[type="checkbox"][name="HasLicentieNummer"] ~ label:before { 
	background-position: -544px -216px;
}

/* Checked NTB license checkbox. */
:root .editor-field > input[type="checkbox"][name="HasLicentieNummer"]:checked ~ label:before {
	background-position: -497px -216px;
}


/****** MyLaps chip ***/
/* Unchecked MyLaps chip checkbox. */
:root .editor-field > input[type="checkbox"][name="HasMyLapsChipNummer"] ~ label:before { 
	background-position: -749px -216px;
}

/* Checked MyLaps chip checkbox. */
:root .editor-field > input[type="checkbox"][name="HasMyLapsChipNummer"]:checked ~ label:before {
	background-position: -715px -216px;
}


/****** Flessenpost ***/
/* Unchecked newsletter checkbox. */
:root .editor-field > input[type="checkbox"][name="Newsletter"] ~ label:before { 
	background-position: -257px -254px;
}

/* Checked newsletter checkbox. */
:root .editor-field > input[type="checkbox"][name="Newsletter"]:checked ~ label:before{ 
	background-position: -316px -254px;
}



/****** Eten ***/
/* Unchecked food checkbox. */
:root .editor-field > input[type="checkbox"][name="Food"] ~ label:before { 
	background-position: -131px -218px;
}

/* Checked food checkbox. */
:root .editor-field > input[type="checkbox"][name="Food"]:checked ~ label:before{ 
	background-position: -194px -218px;
}

/****** Kamperen ***/
/* Unchecked camp checkbox. */
:root .editor-field > input[type="checkbox"][name="Camp"] ~ label:before { 
	background-position: -254px -218px;
}

/* Checked camp checkbox. */
:root .editor-field > input[type="checkbox"][name="Camp"]:checked ~ label:before { 
	background-position: -316px -217px;
}

/* Override of jQuery ui font-size in date picker */
.ui-datepicker {
    font-size: 0.9em;
}

#inschrijf-formulier-uitleg {
    /* color: #406A80;
    border-color: #406A80; */
    border: 1px solid;
    color: #ffffff;
    margin: 0px 0px 50px;
    font-size: small;
    padding: 2px 8px 25px;
    background-color: #5AA247;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#inschrijf-formulier-uitleg li {
    margin: 0px 40px;
    padding: 0px;
    background-color: transparent;
}

#inschrijf-formulier-uitleg p {
    margin: 20px 20px 0px 20px;
}

#inschrijf-formulier-uitleg #uitleg {
    background-color: #ffffff;
    color: #406A80;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

ul#uitleg {
    margin: 10px 17px 0px 17px;
    padding: 10px 5px 20px 5px;
}

/* Start subscription. */
.editor-label {
    display: inline-block;
    *display: inline;
    zoom: 1;
    /* float: left; */
    width: 150px;
    text-align: right;
    margin: 10px 5px 5px 5px;
    color: #406A80;
    vertical-align: top;
}

.editor-field {
    display: inline-block;
    *display: inline;
    zoom: 1;
    /* float: left; */
    width: 400px;
    text-align: left;
    margin: 10px 5px 5px 5px;
    color: #406A80; 
}

.edit-allowed .editor-field {
    width: 222px !important;
}

.editor-field input {
    width: 195px;    
}

.ui-dialog .ui-widget {
    font-family: calibri, Sans-Serif, Verdana;
    font-size: 0.8em;
}

.ui-dialog {
    font-family: calibri, Sans-Serif, Verdana;
    font-size: 0.8em;
}

.ui-widget {
    font-family: calibri, Sans-Serif, Verdana;
    font-size: 0.8em;
}


.opt-text .small {
    font-size: 13px;
    vertical-align: top;
    color: #808080;
    float: right;
    font-weight: normal;
}

.opt-text {
    font-size: 15px;
    font-weight: bold;
    vertical-align: top;
    color: #406A80;
    float: none;
}

.editor-field .opt-text input {
    width: 140px;
}

input[type=submit] {
    float: right;
}

input.save[type=submit] {
    background: url("/Content/img/InschrijvenHREIconSet.png") no-repeat -617px -152px;
    height: 43px;
    width: 185px; 
}

#save-button-div {
    margin-top: 50px;
}

.editor-images {
    float: left;
    height: 1200px;
    width: 60px;
}

.editor-image,
.editor-spacer {
    float: left;
    height: 60px;
    width: 60px;
    display: inline;
    background: #ffffff url('/Content/img/InschrijvenHREIconSet.png') no-repeat;
}

.editor-image.back {
    background-position: -557px -150px; 
    float: right;
}

.editor-image.name {
    background-position: 0px -150px; 
}

.editor-image.address {
    background-position: -62px -150px; 
}

.editor-image.email {
    background-position: -124px -150px; 
}

.editor-image.amount {
    background-position: -186px -150px; 
}

.editor-image.speaker {
    background-position: -248px -150px; 
}

.editor-image.social {
    background-position: -310px -150px; 
}

.editor-image. {
    background-position: -124px -150px; 
}

.editor-spacer {
    background-position: 62px 62px; 
}

.editor-spacer.initial {
    height: 10px;
}

.editor-spacer.name {
    height: 260px;
}

.editor-spacer.address {
    height: 185px;
}

.editor-spacer.email {
    height: 42px;
}

.editor-spacer.amount {
    height: 150px;
}

.editor-spacer.speaker {
    height: 95px;
}

.editor-spacer.social {
    height: 40px;
}

/* Start validation markup */
.validation-summary-errors {
    color: Red;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
    outline: 1px solid #e80c4d;
}

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}


/* End validation markup */

#costs {
    float: right;
    color: #FFFFFF;
    padding: 10px 10px;
    margin: 10px 0px 840px 0px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #80D4FF;
}

#costs tr td {
    padding: 0px 10px;
}

#costs tr td:first {
    text-align: right;
}

tr.total td {
    font-weight: bold;
}

tr.total td:last-child {
    border-top: 1px solid #ffffff;
}

.welcome {
    margin-left: 10px !important;
    color: #406A80;
    font-weight: bold;
}

.jqEasyCounterMsg {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.make-it-personal {
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 78px;
    width: 325px;
	background: url('/Content/img/InschrijvenHREIconSet.png') 0px 0px no-repeat;
}

.make-it-personal.speaker {
    background-position: 0px -295px;
}

.make-it-personal.organisatie {
    background-position: -0px -375px;
}

/* End subscription. */


