@{ ViewBag.Title = "Geen toegang"; }

    <h1>Er was een HTTP 401 fout</h1>
    <p>Dat betekent dat u geen toegang heeft tot de opgevraagde pagina.</p>
    <p><a href="/">Ga naar de start pagina.</a></p>

