@{ ViewBag.Title = "Meer rechten vereist"; }
    <h1>Onvoldoende gebruikersrechten</h1>
    <p>De actieve gebruiker heeft onvoldoende rechten om de opgevraagde pagina te bekijken. Log bijvoorbeeld eerst in als admin!</p>
    <br/ ><b/>
    <p><a href="/">Ga naar de start pagina.</a></p>