@model HRE.Models.InschrijvingModel

@{
    ViewBag.Title = "Bedankt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model!=null) {    
    <h2>You're in!</h2>
    <p>Proficiat, je hebt je aangemeld!</p>
    <p>Er is zojuist ter bevestiging een e-mail gestuurd naar '<a href="mailto:@Model.User.EmailAddress">@Model.User.EmailAddress</a>. Klik op de inlog link in deze e-mail om aan ons te bevestigen dat dit daadwerkelijk jouw e-mail adres is. Pas daarna kan je inschrijving definitief gemaakt worden.</p>
    <br /><br /><p>Een (tik)fout gemaakt in het e-mail adres? Stuur even een e-mail naar <a href="mailto:info@hetrondjeeilanden.nl?subject=Typfoutje in e-mail adres">info@hetrondjeeilanden.nl</a> en vermeld het foutieve e-mail adres, dan corrigeren we het.</p>
    } else {
    <p>Er ging iets mis.</p>
}
