@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

h1,h2,h3,h4,h5,h6,
.album-title,
.movie-page-title{
font-family: 'Open Sans', sans-serif;
}
.album-title,
.movie-page-title{
font-size: 1.5em;
}
header#theme {
padding-bottom: 15px;
}
header#theme h2{letter-spacing: -1px;font-weight: 400;}
header#theme h1{font-weight: 700;letter-spacing: -2px;}
header#control #navTrigger{
font-size: 17px;
font-weight: 700;
line-height: 62px;
font-family: 'Open Sans', Arial;
}