#floatMedia {
right:0 !important;
left: auto !important;
margin-left:0 !important;
z-index: 105;
}
#center{
margin-left:0 !important;
}
@media screen and (min-width: 771px) {
	#carousel{
	position: fixed !important;
	-webkit-backface-visibility: hidden;
	right: 0;
	left: auto !important;
	}
}