@{
    ViewBag.Title = "Aangemeld voor e-mail nieuwsbrief";
}

<h1>Aangemeld</h1>
<img src="/Content/img/EmailNieuwsbrief.png" title="Aangemeld" alt="Aangemeld"/>
<p>Je bent nu aangemeld voor de e-mail nieuwsbrief van Hét Rondje Eilanden!</p>

