@{
    ViewBag.Title = "Deelnemers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Deelnemers</h1>
    <p>Hieronder zie je alle aanmeldingen. Let op: voor de officiele lijst met deelnemers bekijk @Html.ActionLink("hier de deelnemerslijst", "Deelnemers", "Meedoen"). Om in deze lijst te komen moet je het @Html.ActionLink("inschrijfgeld", "Inschrijven", "Meedoen") voldaan hebben (soms paar dagen wachten tot je betaling verwerkt is).</p>
    <iframe class="bigframe" src="http://www.ntbinschrijvingen.nl/inschrijvingen/overzicht_inschrijvingen.asp?Serie=4549&Code=2005881&ID=9076&numRows=40" frameborder="0" scrolling="no" id="frmNTBInschrijvingenDeelnemers" width="570" height="620px"></iframe>
