@{
    ViewBag.Title = "Reglementen";
}

<h1>Reglementen</h1>

<h2>Artikel 1: Definities</h2>
<li>1.1. In deze algemene voorwaarden wordt verstaan onder:
    <ol type="a">
      <li>Evenement: het door Stichting Woelig Water in enig jaar te organiseren evenement: Het Rondje Eilanden.</li>
      <li>Deelnemer: de natuurlijke persoon die zich op een door de Organisator toegelaten wijze heeft ingeschreven voor deelname aan het Evenement.</li>
      <li>Overeenkomst: de overeenkomst strekkend tot deelname van de Deelnemer aan het Evenement.</li>
      <li>Organisator: de rechtspersoon (in deze Stichting Woelig Water.) waarmee de Deelnemer een Overeenkomst is aangegaan.</li>
    </ol>
</li>
<li>1.2. Deze algemene voorwaarden zijn van toepassing op elke Overeenkomst.</li>

<h2>Artikel 2: Kosten inschrijving, annulering en overdrachts en restitutievoorwaarden</h2>
<ul>
    <li>2.1 Deelname aan het Evenement kost €25 bij inschrijving tot en met 15 mei 2012. Dit is exclusief de kosten van eventuele aanschaf daglicentie áa €2,10 en huur Mylaps (ChampionChip) transponder chip á €2,50.</li>
    <li>2.2 Bij inschrijving na 15 mei kost deelname €27,50 exclusief de genoemde eventuele toeslagen.</li>
    <li>2.3 Deelnemers kunnen kosteloos hun inschrijving overdragen aan een andere persoon op voorwaarde dat deze persoon zich aanmeldt bij de organisatie.</li>
    <li>2.4 Tot 1 juli 2012 wordt het inschrijfgeld voor Het Rondje Eilanden volledig gerestitueerd na annulering van inschrijving, na inhouding van €5,- administratiekosten. Vanaf 1 juli 2012 is restitutie van inschrijfgeld niet meer mogelijk.</li>
    <li>2.5 Deelnemer kan bij annulering alsnog aanspraak maken op restitutie indien de organisatie hem/haar als vrijwilliger voor het Evenement kan aanwijzen en inzetten en hij/zij deze rol voor het Evenement ook vervult.</li>
</ul>

<h2>Artikel 3: Deelname</h2>
<ul>
    <li>3.1 Een Deelnemer dient in het jaar dat het Evenement wordt gehouden tenminste de door de Organisator voor dat Evenement vastgestelde minimumleeftijd van 16 jaar te bereiken.</li>
    <li>3.2 De Deelnemer is pas ingeschreven en mag aan het Evenement alleen deelnemen als hij het daartoe strekkende inschrijfformulier volledig en naar waarheid heeft ingevuld, akkoord is gegaan met de algemene voorwaarden en het toepasselijke inschrijfgeld geheel heeft voldaan.</li>
    <li>3.3 De Organisator van het Evenement kan op grond van uitzonderlijke omstandigheden (overmacht) besluiten het Evenement af te gelasten.</li>
    <li>3.4 Door het besluit van de Organisator om het Evenement niet door te laten gaan, ontstaat geen aansprakelijkheid voor vergoeding van de door de Deelnemer gemaakte kosten in relatie tot het Evenement.</li>
    <li>3.5 Het Evenement staat onder auspiciën van de Nederlandse Triathlon Bond (NTB). Derhalve houdt de Organisator zich aan de reglementen die geldig zijn voor dit Evenement. Ook de Deelnemer dient zich te houden aan deze reglementen.</li>
    <li>3.6 Tijdens deelname aan het Evenement dient de Deelnemer ten allen tijden schoeisel te dragen op straffe van diskwalificatie en verdere uitsluiting van het Evenement.</li>
    <li>3.7 Deelnemer is verboden duikend het water te betreden vanaf de eilanden op straffe van diskwalificatie en verdere uitsluiting van het Evenement.</li>
    <li>3.8 Het gebruik van voorwerpen die het drijfvermogen verbeteren, zoals een pullbuoy, is tijdens deelname NIET toegestaan, conform het NTB wedstrijd reglement.</li>
    <li>3.8 Het dragen van een wetsuit tijdens deelname is in principe NIET toegestaan. Dit om de omstandigheden voor alle deelnemers gelijk te trekken en problemen door oververhitting te voorkomen (het risico op warmtestuwing is niet onrealistisch bij op wedstrijd tempo hardlopen in een wetsuit in augustus). In geval van uitzonderlijke water- en luchttemperatuur kan de organisatie wetsuitgebruik vrijgeven. Daarbij wordt uitgegaan van het NTB wedstrijdreglement, maar met aangepaste grenstemperaturen in verband met het afwijkende format van het Evenement ten opzicht van de reguliere zwemloop- en triathlon evenementen.</li>
    <li>3.9 In alle gevallen waarin dit reglement of het NTB wedstrijdreglement niet voorziet, beslist de Organisator.</li>
</ul>

<h2>Artikel 4: Aansprakelijkheid</h2>
<ul>
    <li>4.1 Deelname geschiedt voor eigen risico. De Organisator is niet aansprakelijk voor enige schade, hoe ook genaamd, die de Deelnemer mocht lijden als gevolg van de deelname. Tevens is de organisator niet aansprakelijk voor verlies, diefstal of schade van eigendommen. Tenzij deze schade het directe gevolg is van aan de Organisator toe te rekenen opzet of grove schuld. Deze uitsluiting van aansprakelijkheid geldt ook voor ernstige schadesoorten zoals alle mogelijke schadesoorten ten gevolge van letsel of overlijden.</li>
    <li>4.2 Indien ondanks het bepaalde in het eerste lid van dit artikel aansprakelijkheid van de Organisator voor schade van de Deelnemer aangenomen moet worden, blijft de verplichting van de Organisator tot vergoeding van die schade beperkt tot ten hoogste het bedrag dat de verzekeraar van de Organisator ter zake van die schade uitkeert.</li>
    <li>4.3 De Deelnemer dient afdoende verzekerd te zijn tegen het risico van schade die hij of een nabestaande mocht lijden ten gevolge van zijn overlijden, letsel of ziekte, veroorzaakt door zijn deelname aan het Evenement.</li>
    <li>4.4 De Deelnemer verklaart zich bekend met het feit dat deelname een goede gezondheid in zowel psychische als fysieke zin vereist, en verklaart dat hij aan deze eis voldoet en dat hij zich door training en anderszins voldoende heeft voorbereid op het Evenement.</li>
    <li>4.5 De Deelnemer vrijwaart de Organisator voor aansprakelijkheid voor schade die derden mochten lijden als gevolg van een aan een Deelnemer toe te rekenen handelen of nalaten met betrekking tot het Evenement. De Deelnemer dient afdoende verzekerd te zijn tegen het risico van aansprakelijkheid voor bedoelde schade.</li>
    <li>4.6 De Deelnemer vrijwaart de Organisator voor aansprakelijkheid voor schade die een derde mocht lijden door toedoen van de deelnemer, gedurende zijn deelname aan het Evenement, tenzij deze schade het directe gevolg is van aan de Organisator toe te rekenen opzet of grove schuld.</li>
</ul>


<h2>Artikel 5: Portretrecht</h2>
<ul>
    <li>5.1 Deelnemer verleent bij voorbaat toestemming aan de Organisator voor openbaarmaking van tijdens of rond het Evenement gemaakte foto's en beeldmateriaal en dergelijke, waarop de Deelnemer zichtbaar is.</li>
</ul>

<h2>Artikel 6: Persoonsgegevens</h2>
<ul>
    <li>6.1 De door een Deelnemer verstrekte persoonsgegevens worden door de Organisator opgenomen in een bestand. Door deelname aan een Evenement verleent een Deelnemer toestemming aan de Organisator tot gebruik van de persoonsgegeven voor het verzenden van informatie aan de Deelnemer en (mits hiervoor op het inschrijfformulier door de Deelnemer toestemming is gegeven) voor het verstrekken van de persoonsgegevens aan derden ten behoeve van het verzenden van informatie aan de Deelnemer. Deelnemer verleent door het aangaan van de Overeenkomst toestemming aan de Organisator tot openbaarmaking van zijn naam en wedstrijdresultaten, bijvoorbeeld door middel van publicatie in dagbladen en via internet.</li>
</ul>

<h2>Artikel 7: Uitslagen en kwalificatie voor de finale.</h2>
<ul>
    <li>7.1 De uitslag in de tijdrit serie wordt bepaald op basis van de netto tijd, dat wil zeggen het verschil tussen de finishtijd en de starttijd van de deelnemer.</li>
    <li>7.2 Indien de deelnemer later start dan zijn in de startlijst toegewezen tijd wordt alsnog de officiele starttijd uit de lijst gehanteerd (en eerder starten is uiteraard niet toegestaan).</li>
    <li>7.3 Voor de finale serie plaatsen zich de 50 heren en 30 dames met de snelste tijden in de uitslag van de tijdrit serie.</li>
    <li>7.4 Als extra eis voor starten in de finale serie geldt dat de deelnemer het parcours tijdens de Tijdrit serie binnen het uur heeft volbracht (tijdens de finale serie geldt ook een tijdslimiet van een uur!)</li>
    <li>7.5 Deelnemers die niet deelnemen én finishen in de tijdrit serie kunnen niet deelnemen in de Finale serie.</li>
    <li>7.6 In geval een op basis van zijn tijdrit uitslag voor de finale geplaatste deelnemer niet kan of wil starten tijdens de finale vervalt zijn plek aan de eerstvolgende deelnemer in de einduitslag die hierin wel geinteresseerd is, mits deze deelnemer onder het uur is gefinishd in de Tijdrit serie.</li>
    <li>7.7 De uitslag in de finale serie wordt bepaald op basis van de bruto tijd van de deelnemer, dat wil zeggen de 'positie op de streep', ongeacht het exacte tijdstip van passeren van de start.</li>
    <li>7.8 In geval een deelnemer start in de finale, maar deze - om wat voor reden dan ook - niet voltooit, geldt voor deze deelnemer de uitslag uit de tijdrit serie (de einduitslag wordt dus opgesteld alsof deze deelnemer geen finalist was).</li>
    <li>7.9 Bij de start van de finale kan de organisatie de 10 snelste heren en 6 snelste dames een speciale zogenaamde positie geven, iets voor de rest van het deelnemersveld ('pole position').</li>
    <li>7.10 Bij de start van de finale kan de organisatie de dames met een bepaald tijdsverschil te laten starten ten opzicht van de heren ('battle of the sexes').</li>
    <li>7.11 Na afloop wordt over beide series een totaaluitslag gemaakt, waarbij de uitslag van de tijdrit serie voor de niet-finalisten achter de uitslag van de finale wordt gevoegd (zodat elke (gefinishte) deelnemer hierin voorkomt).</li>
    <li>7.12 In geval van uitzonderlijk omstandigheden kan de organisatie beslissen om vermelde limiettijden en/of aantallen aan te passen.</li>
    <li>7.13 In geval van een 'foto finish' beslist de Organisator over de uitslag.</li>
    <li>7.14 In alle gevallen waarin dit reglement niet voorziet, beslist de Organisator, daarbij altijd redenerend 'in de geest van de sport'.</li>
    <li>7.15 Een deelnemer dient het parcours binnen een redelijke tijd te voltooien. Om afbouw werkzaamheden te kunnen beginnen en de veiligheid is de organisatie gerechtigd deelnemers die buitenproportioneel lang bezig zijn uit de race te nemen. De praktische limiet is bij tijden boven circa 2,5 uur in de Tijdrit serie.</li>
</ul>

<h2>Artikel 8: Prijzen</h2>
<li>8.1 Er worden bij de 1e editie de volgende <strong>Natura prijzen</strong> uitgereikt op basis van de uitslag van de Tijdrit serie:
    <ul>
      <li>2x3 paar Vibram Fivefingers schoenen voor de 3 heren én de 3 dames met de snelste totaaltijd</li>
      <li>2x1 waardebon van 50 euro beschikbaar gesteld door Run2Day voor de snelste loper (traject op eiland 2)</li>
      <li>2x1 badpak of zwembroek voor de snelste dames respectievelijk heer op het 1e stuk zwemmen van circa 400 m. beschikbaar gesteld door www.zwempakshop.nl</li>
      <li>Voor het ontvangen van een natura prijs geldt dat de deelnemer tijdens de prijsuitreiking <strong>na de tijdrit serie</strong> aanwezig moet zijn.</li>
      <li>Voor toekenning van een natura prijs moet de deelnemer gefinisht zijn in de Tijdrit ronde. Alleen de snelste zwemtijd of looptijd is dus niet voldoende, er moet ook een finishtijd zijn, al maakt de hoogte hiervan niet uit.</li>
      <li>Bij afwezigheid gaat de prijs door naar de eerstvolgende in de uitslag. Indien deze ook niet aanwezig gaat de prijs wederom naar de eerstvolgende, etc.</li>
      <li>In geval van ontbreken van tussentijd op het loop- en/of zwemstuk door bijvoorbeeld een storing aan de electronische tijdregistratie en hierdoor de tussentijden niet bepaald kunnen worden kan de organisatie beslissen de natura prijzen niet uit te delen, of te verloten onder de aanwezigen.</li>
    </ul>
</li>

 <li>8.2 Er worden de volgende <strong>ereprijzen</strong> uitgereikt:
    <ul>
      <li>Ereprijzen voor de snelste 3 dames en de snelste 3 heren overall (alle leeftijden) uit de finale serie</li>
      <li>Ereprijzen voor de snelste 3 Rondeveners en de snelste 3 Rondeveensters overall (alle leeftijden) op basis van de einduitslag (gecombineerd finale en evt. tijdrit serie)</li>
      <li>Om voor de prijs voor Rondeveners in aanmerking te komen moet de primaire woonplaats van de deelnemer één van de officiele acht dorpskernen van de gemeente de Ronde Venen zijn, te weten: Abcoude, Amstelhoek, Baambrugge, De Hoef, Mijdrecht, Vinkeveen, Waverveen of Wilnis.</li> 
      <li>Ereprijzen in de leeftijdscategorieen H16, H18, H20, H40, H50 en H60 alsmede D16, D18, D20, D40, D50 en D60 op basis van de einduitslag.</li>
      <li>Er zijn 3 ereprijzen per categorie, mits er 7 of meer deelnemers in die categorie zijn ingeschreven.</li>
      <li>In geval slechts 5 of 6 deelnemers zijn in een categorie, worden 2 prijzen uitgereikt aan de 2 snelsten in de categorie.</li>
      <li>In geval van slechts 3 of 4 deelnemers, wordt 1 prijs uitgereikt aan de snelste in de categorie.</li>
      <li>Bij 1 of 2 deelnemers gaat de categorie geheel over naar de dichtsbijliggende categorie. Dit altijd in de 'richting' van de H20/D20 categorie. Indien één stap niet genoeg is dan nog stappen tot de groep wel groot genoeg is.</li>
      <li>Bovengenoemde aantallen deelnemers is op basis van de aantallen vooringeschreven deelnemers op het moment dat de prijzen besteld worden (circa een maand voor het Evenement).</li>
      <li>Deelnemer deze de erepijs zelf in ontvangst te nemen tijdens de prijsuitreiking na de finale. Prijzen worden NIET thuisgestuurd (in overleg is meegeven met een partner of vriend wel mogelijk).</li>
      <li>Bij de prijsuitreiking wordt uitgegaan van de dan bekende (officieuze) uitslagen. De officiele uitslag volgt later via de website van de organisator en de organisatie behoudt zich het recht voor hierin correcties te maken indien van toepassing, zonder verdere maatregelen met betrekken tot dan reeds uitgereikte prijzen.</li>
    </ul>
</li>
