@model HRE.Models.ContactViewModel

@{
    ViewBag.Title = "Vrijwilligers - Bevestiging";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bedankt</h1>

@using (Html.BeginForm()) {
    <p>Bedankt voor het opgeven als vrijwilliger! We nemen nader contact met je op.</p>
}