@{
    ViewBag.Title = "Video's";
}

<div class="nieuws-content">
    <h1>Video</h1>
    <p>Wat filmpjes uit 2012.</p>
    <div class="video">
        <iframe id="homeVideo" src="http://www.youtube.com/v/A3w1q-o9GXs?playlist=H5UdkBxOTPY,PNErlhkjStQ,1DY42Rdmlo0&modestbranding=1" width="480" height="320"></iframe>
    </div>
    <p>Of check ons <a href="http://www.youtube.com/user/HetRondjeEilanden" target="_blank">YouTube account</a>.</p>
</div>
