@{
    ViewBag.Title = "Tweets";
}

<div class="nieuws-content">
    <h1>Tweets</h1>
    <div class="tweets">
        @TwitterGoodies.Profile("trondjeeilanden", 500, 700, "#333333", "#ffffff", "#ffffff", "#000000", "#4F75C5", 20, false, false, true, true, true, true, TwitterGoodies.WidgetBehaviors.All, 6);
    </div>
</div>

