@{
    ViewBag.Title = "Uitslagen 2012";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h1>Uitslagen</h1>
    <p>Hieronder de uitslagen van onze partner in tijdregistratie MyLaps, zowel de tijdrit serie als finale. Tijdenliefhebbers vinden hier ook de losse zwem- en looptijd op het langste zwem- en loopstuk uit de tijdrit serie.</p>
    <iframe class="bigframe" src="http://nl.mylaps.com/evenementen/uitslagen/2012/aug/4/vinkeveen/index.html" frameborder="0" scrolling="no" id="frmUitslagen" width="570" ></iframe>
