@{
    ViewBag.Title = "Eilanden Triathlon Vinkeveen";
}

<h1>Eilandentriathlon Vinkeveen</h1>
<img src="/Content/img/eilandentriathlon.jpg" title="Eilandentriathlon" />
<p>Tot ruim 10 jaar geleden werd in de Vinkeveense plassen jaarlijks de Eilandentriathlon georganiseerd, een unieke triathlon met een snelgroeiend deelnemersaantal. Zowel uit Vinkeveen en Abcoude zelf als uit het hele land. Door toenemende regelgeving voor evenementen en het wegvallen van organisatoren vond het evenement voor het laatste plaats in 2001. Sindsdien treuren vele triatleten en andere sportievelingen om het missen van de wedstrijd met zijn unieke parcours, maar vooral ook zijn unieke sfeer!</p>
<h2>Nieuw leven!</h2>
<p>In 2011 ontstond het idee om de wedstrijd nieuw leven in te blazen. Enkele enthousiaste triatleten uit Utrecht troffen de enthousiaste organisatoren van Stichting Woelig Water. Samen sloegen ze de handen ineen om weer een uniek evenement neer te zetten, met een nieuwe format met nog meer nadruk op sfeer en gezelligheid. Natuurlijk weer op het vertrouwde parcours en met voldoende uitdaging voor zowel de beginnende als de fanatieke sporter. Dit alles aangevuld met een ontzettend gaaf avondprogramma waarvoor je wel moet blijven hangen na de wedstrijd!</p>
<img src="/Content/img/eilandentriathlon2.jpg" title="Nieuw leven!" alt="Nieuw leven!" style="float: left;"/>
