@{ ViewBag.Title = "Home"; }

<div id="nieuws">
    <div class="tweets">
        <br clear="all"/><br /><br /><br /><br />
        @TwitterGoodies.Profile("trondjeeilanden", 224, 360, "#333333", "#ffffff", "#ffffff", "#000000", "#000000", 3, false, false, true, true, true, true, TwitterGoodies.WidgetBehaviors.Default, 4)
    </div>
</div>
<h1>H2RE!</h1>
<p>Welkom op de site van Hét Rondje Eilanden! Op zaterdag 3 augustus 2013 gaat @Html.ActionLink("Hét 2e Rondje Eilanden", "Parcours") van start in Vinkeveen.</p>
<span class="like">@Facebook.LikeButton("", "standard", true, 320, 80, "like", "", "light", "")</span>
<img src="Content/img/fp.jpg" alt="Hét Rondje Eilanden 2012" class="left" width="320px"/>
