@{ ViewBag.Title = "Parcours"; }

    <h1>Parcourskaart</h1>
    <p>Onderstaande het parcours van de 12 eilanden en (afgerond) de afstanden van de verschillende zwem- en loopstukken. Speciale dank aan deelnemer Fred Kuiper voor deze versie!</p>
	<p><a href="/Content/img/HetRondjeEilanden_2012.jpg"><img src="/Content/img/HetRondjeEilanden_2012_smaller.jpg" alt="Het parcours: 11 stukken zwemmen en 11 stukken lopen" class="large"/></a></p>
    <p>Er zijn 11 zwem-loop stukken en dus geen 12, terwijl er wel 12 eilanden zijn. De reden is dat er een loopbrug is tussen eiland 4 en 5. Tussen eiland 1 en 2 is overigens ook een loopbrug, maar hierop komen alleen de toeschouwers, deelnemers zwemmen er tijdens het eerste stuk zwemmen parallel langs.</p> 
