@{
    ViewBag.Title = "Organisatie";
}

    @section JavaScript {

    <script language="javascript" type="text/javascript">
        // Mail Ad.
        function qRMwCrxDxYMBVnp() {
            var wdKLysqbUqeSkmr = ["x61", "100", "64", "104", "101", "x74", "114", "x6f", "110", "x64", "x6a", "101", "101", "x69", "108", "x61", "x6e", "x64", "101", "x6e", "46", "x6e", "108"];
            var HUOUfWeIPJbKMMN = ['?', 's', 'u', 'b', 'j', 'e', 'c', 't', '=', 'H', 'e', 't', '%', '2', '0', 'R', 'o', 'n', 'd', 'j', 'e', '%', '2', '0', 'E', 'i', 'l', 'a', 'n', 'd', 'e', 'n'];
            var EHZSokQDPGtCpvU = ["77", "x61", "105", "x6c", "x20", "x41", "100"];
            document.write("<a href=\"&#x6d;&#x61;&#105;&#x6c;&#116;&#000111;&#58;");
            for (i = 0; i < wdKLysqbUqeSkmr.length; i++) document.write('&#' + wdKLysqbUqeSkmr[i] + ';');
            for (i = 0; i < HUOUfWeIPJbKMMN.length; i++) document.write(HUOUfWeIPJbKMMN[i]);
            document.write('" >');
            for (i = 0; i < EHZSokQDPGtCpvU.length; i++) document.write('&#' + EHZSokQDPGtCpvU[i] + ';');
            document.write('</a>');
        }
    </script>
}


<h1>Organisatie</h1>
<!-- <img src="/Content/img/stichtingwoeligwater.jpg" title="Stichting Woelig Water" alt="Stichting Woelig Water" /> -->
<p>De organisatie achter het evenement is de ‘Stichting Woelig Water.’ Een groep enthousiaste vrijwilligers die als doel heeft de cultuur en recreatie op en rond de Vinkeveense Plassen te bevorderen. Een andere evenement dat Stichting Woelig Water jaarlijks organiseert is “Film aan de Plas”. Voor meer informatie zie <a href="http://www.filmaandeplas.nl">www.filmaandeplas.nl</a></p>
<p>Stichting Woelig Water<hr />
   Winkeldijk, Vinkeveen<hr/>
   KvK nummer: 30287850<hr/>
</p>
<p>
  <ul>
    <li><a href="mailto:yordi@hetrondjeilanden.nl">Yordi de Bruin</a></li>
    <li>Martine van Aalst</li>
    <li>Cock Griffioen</li>
    <li>Rudo Verhoef</li>
    <li>Bart van der Wal</li>
    <li><script language="javascript">qRMwCrxDxYMBVnp();</script></li>
  </ul>
</p>