@{ ViewBag.Title = "Parcours"; }
    <h1>Parcours 3D</h1>
    <script type="text/javascript" src="//www.gmodules.com/ig/ifr?url=http://code.google.com/apis/kml/embed/tourgadget.xml&amp;up_kml_url=http%3A%2F%2Fwww.hetrondjeeilanden.nl%2FContent%2Fdata%2Fopgenomen_tour.kmz&amp;up_tour_index=1&amp;up_tour_autoplay=1&amp;up_show_navcontrols=0&amp;up_show_buildings=0&amp;up_show_terrain=1&amp;up_show_roads=0&amp;up_show_borders=0&amp;up_sphere=earth&amp;synd=open&amp;w=500&amp;h=400&amp;title=&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
    <div id="google-earth-widget">
    <p>Voor de 3D weergave is een moderne browser en de Google Earth plugin nodig. Volg de instructies of <a href="/Content/data/opgenomen_tour.kmz" target="_blank">download de kmz</a> om zelf in Google Earth te bekijken.</p> 