@{ ViewBag.Title = "Parcours"; }
    <h1>Parcours 2D</h1>
    <iframe width="600px" height="600px" 
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
        src="http://www.afstandmeten.nl/embed.php?id=861624&kmStep=1"></iframe>
