@{
    ViewBag.Title = "Partners";
}

<h1>Partners</h1>
<a href="http://www.stichtingwoeligwater.nl" target="_blank"><img class="partner" src="/Content/img/logo_SWW_white-1_small.png" alt="Stichting Woelig Water" title="Stichting Woelig Water" /></a>
<p>De organisatie van Het Rondje Eilanden is in handen van <a href="http://www.stichtingwoeligwater.nl" title="Stichting Woelig Water" target="_blank"/>Stichting Woelig Water</a>.</p>

<a name="Winkeloord"></a>

<p>Wij werken dankbaar samen met enkele belangrijke partners die het evenement mogelijk maken en extra chaquet geven.</p>
<p class="partnerlink"><a href="http://www.stichtingwoeligwater.nl" target="_blank">www.stichtingwoeligwater.nl</a></p>

<br />
<h2>Winkeloord - Jachthaven en Camping</h2>
<a href="http://www.winkeloord.nl" target="_blank"><img class="partner" src="/Content/img/Winkeloord_large.png" alt="Winkeloord - Jachthaven & Haven" title="Jachthaven Winkeloord" /></a>
<p>Lekker een dagje zeilen of sloepvaren op de Vinkeveense plassen? Huur een sloep of valk bij Winkeloord. Jachthaven Winkeloord is een gezellige jachthaven met camping gelegen aan de noordkant van de Vinkeveense plassen, dus vlak bij Amsterdam en Abcoude.</p>
<p>Geen grote open jachthaven, maar een haven met totaal 300 ligplaatsen verdeeld door middel van bosschages in kleinere compartimenten waardoor de jachthaven een vriendelijke uitstraling heeft. Er zijn 2 kampeerveldjes voor tenten en tourcaravans en ligplaatsen voor de passant.</p>

<a name="FiveFingers"></a>

<p>Jachthaven Winkeloord is vanaf het begin betrokken bij Het Rondje Eilanden en faciliteert veel zaken, zo zorgen zij tijdens de wedstrijd voor extra veiligheid met enkele van hun sloepen!</p>
<p class="partnerlink"><a href="http://www.winkeloord.nl" target="_blank">www.winkeloord.nl</a></p>

<br /><br/>
<h2>Vibram FiveFingers Nederland</h2>
<a href="http://www.fivefingers.nl" target="_blank"><img class="partner" src="/Content/img/FiveFingers_large.png" alt="Vibram Fivefingers NL" title="TwelveIslands - FiveFingers" /></a>
<p>Het Rondje Eilanden; powered by Vibram FiveFingers! De laatste editie van de voormalige Eilandentriathlon was enkele jaren voor de start van de natural running trend, maar het lichtgewicht minimalistische schoeisel van vandaag is bij uitstek geschikt voor de voortdurende zwem-loop afwisseling die je in de Vinkeveense plassen zult ondervinden. Wij zijn zeer blij dat Vibram FiveFingers Nederland zo enthousiast reageerde op ons evenement. Vibram is hét merk die de Natural Running trend eigenlijk lang vooruit was. Vanuit een passie voor beweging en buitenleven en jarenlange ervaring met de vervaardiging van sportzolen brachten zij al in 2005 hun Fivefingers schoenen uit.</p>

<a name="ZwemPakShop"></a>

<p>Ben je op zoek naar de perfecte schoenen voor Het Rondje Eilanden? Schoenen die lekker lopen én zwemmen en je net die edge geven op je concurrenten? "Twelve Islands, FiveFingers!"</p>
<p class="partnerlink"><a href="http://www.fivefingers.nl" target="_blank">www.fivefingers.nl</a></p>

<br />
<h2>Zwempakshop.nl - Voor zwemkleding met kleur</h2>
<a href="http://www.zwempakshop.nl" target="_blank"><img class="partner" src="/Content/img/Zwempakshop_large.png" alt="Zwempakshop " title="Zwempakshop - Voor zwemkleding in kleur!" /></a>
<p>Ontstaan na een zoektocht naar sportieve zwemkleding in kleur importeren zij het merk Dolfin Swimwear uit de Verenigde Staten en verkopen het via hun webshop.</p>

<a name="Run2Day"></a>

<p>"Niemand van de vereniging ontging het dat ik een nieuwe outfit had ... een uitstekende pasvorm, heel betaalbaar en ... door het chloorbestendige materiaal gaan ze lang mee."</p>
<p class="partnerlink"><a href="http://www.zwempakshop.nl" target="_blank">www.zwempakshop.nl</a></p>

<br />
<h2>Run2Day - De complete hardloopwinkel</h2>
<a href="http://www.run2day.nl" target="_blank"><img class="partner" src="/Content/img/Run2Day_large.png" alt="Run2Day" title="Run2Day - De complete hardloopwinkel" /></a>
<a name="Rabobank"></a>
<p>Run2Day een keten van hardloopspeciaalzaken door heel Nederland is ontstaan uit de gedachte dat het beter kan in hardloopwinkelland. Met meer gevoel en bezieling. Met een betere begeleiding van de klant. Ook vooral completer, dus niet alleen gericht op het verkopen van producten, maar ook op het geven van advies over alles wat met lopen te maken heeft.</p>
<p class="partnerlink"><a href="http://www.run2day.nl" class="partnerlink" target="_blank">www.run2day.nl</a></p>

<h2>Rabobank - Rijn en veenstromen</h2>
<a href="http://www.rabobank.nl/bedrijven/lokalebanken/rv/" target="_blank"><img class="partner" src="/Content/img/Rabobank_medium.png" alt="Rabobank" title="Rabobank - Rijn en veenstromen" /></a>
<p>Een zwem-loop rondje over twaalf eilanden in de Vinkeveense plassen. Dat is de gedachte. Dat is het idee.</p>
<a name="LG2"></a>
<p>Rabobank Rijn en Veenstromen is subsponsor van Het Rondje Eilanden. De Rabobank is een bank zonder aandeelhouders. Dat is het idee van de coöperatie. U kunt bij ons terecht voor al uw dagelijkse bankzaken.</p>
<p class="partnerlink"><a href="http://www.rabobank.nl/bedrijven/lokalebanken/rv/" class="partnerlink" target="_blank">www.rabobank.nl/bedrijven/lokalebanken/rv/</a></p>

<h2>Laurens Geerlings Licht en Geluid</h2>
<a href="http://www.lg-lichtengeluid.nl" target="_blank"><img class="partner" src="/Content/img/LG2_large.png" alt="Laurens Geerlings Licht en Geluid" title="Laurens Geerlings Licht en Geluid" /></a>
<p>Laurens Geerlings Licht en Geluid houdt zich al geruime tijd bezig met de verhuur en verzorging van de meest uiteenlopende licht, geluid en video producties. Dit bewijst zich wel door het ruime assortiment spullen dat wij aanbieden en de grote hoeveelheid verschillende producties die we voor onze ruime klanten kring uitvoeren.</p>
<a name="VanWijngaarden"></a>
<p>Laurens Geerlings Licht en Geluid is de perfecte partner om uw theaterproductie, tournee, festival, presentatie of muziekevenement tot een juist einde te brengen. Laurens verzorgt bij Het Rondje Eilanden en andere evenementen van Stichting Woelig Water licht en geluid in zijn eigen 'achtertuin' op Zandeiland 1.</p>
<p class="partnerlink"><a href="http://www.lg-lichtengeluid.nl" class="partnerlink" target="_blank">www.lg-lichtengeluid.nl</a></p>

<h2>Van Wijngaarden Assurantieën</h2>
<a href="http://www.asskntvanwijngaarden.nl" target="_blank"><img class="partner" src="/Content/img/VanWijngaarden_large.png" alt="Laurens Geerlings Licht en Geluid" title="Laurens Geerlings Licht en Geluid" /></a>
<p>Wij zijn uw privé adres voor financiële zaken. Financiële dienstverlening is mensenwerk. Onze adviseurs nemen daarom graag de tijd voor u. Zij maken werk van een goed advies.</p>
<p>Dat begint bij een gesprek om uw persoonlijke situatie te inventariseren. Op basis hiervan wordt uitgebreid onderzocht wat voor u de best passende oplossing is.</p>
<p class="partnerlink"><a href="http://www.asskntvanwijngaarden.nl" class="partnerlink" target="_blank">www.asskntvanwijngaarden.nl</a></p>
