/* Site Background */
html,body,#floatMedia .buttons,header#control,#center > footer{background-color:#FFFFFF;}
/*#floatMedia{background-color:#EFEFEF;}*/

/* Site Borders */
ul#nav li a:hover,#social-container:after,#social-container:before,ul#nav li a.current,header#control .buttons:hover,#social-container a:hover, hr{background-color: #22AFE6;}

#breadcrumb,footer,img.photo-frame,#blog-categories:before,#blog-archives:before,ul.blog-tag-cloud:before,#blog-rss-feeds:before{border-top-color:#22AFE6;}

header#control .buttons {border-left-color: #22AFE6;}
header#control > img,#social-container a{border-right-color:#22AFE6;}
ul#nav li a, header#control,p.blog-entry-tags:after,p.blog-entry-tags:before,#social-container{border-bottom-color: #22AFE6;}

.form-input-field, 
input.form-input-button[type="reset"],
input.form-input-button[type="submit"],
.filesharing-item-title a{border-color:#22AFE6;}

.form-input-field:focus,
input.form-input-button[type="reset"]:hover,
input.form-input-button[type="submit"]:hover,
.filesharing-item-title a:hover {box-shadow: inset  0 0 0 3px #22AFE6;}

/* Site Accent */
#border-trim,.photo-background:before{background-color:#1EADE6;}
/* Site Title */
header#theme h1,
header#theme h1 a,
header#theme h1 a:hover,
#floatMedia .buttons{color:#22AFE6;}

/* Site Title */
header#theme h1 span{color:#22AFE6;}

/* Site Slogan */
header#theme h2{color:#22AFE6;}

/* Nav Link Current*/
ul#nav a.current{color:#072835;}

/* Content Header */
h1,h2,h3,h4,h5,h6,
.floatMedia i,
#center h1.blog-entry-title a,
.album-title,.photo-title,.icon-spinner{
color: #22AFE6;
}
/* Content Text */
body,
form > div input,
form > div textarea,
#blog-archives a:after,
#blog-categories a:after,
#blog-rss-feeds a:after{
color:#072A38;
}
/* Content Links */
#center a,#navTrigger,.photo-links a{
color:#22AFE6;
}

/* Content Link Hover */
#center a:hover,
input.form-input-button[type="reset"]:hover,
input.form-input-button[type="submit"]:hover,
.photo-links a:hover,
#navTrigger.close{
color:#CDDEE6;
}