@model HRE.Models.ScrapeNtbIEntryModel

@{
    ViewBag.Title = "Bekijken/wijzigen inschrijving";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

    @Html.ActionLink(" ", "Index", null, new { @class="editor-image back", @title="Terug naar overzicht", @alt="Back" })
    
    <!-- <h1>Details inschrijving</h1> -->
    @{Html.RenderPartial("_SubscribeForm", Model); }