<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Imageless Custom Checkboxes and Radio Buttons with CSS3</title>
        <link rel="stylesheet" href="css3-checkboxes-and-radios.css" />
    </head>
    <body>
        <h1>Imageless Custom Checkboxes and Radio Buttons with CSS3</h1>
        <p>If you like this solution, you can also check my 
                <a href="http://wemakesites.net/" target="_blank">personal wesbite</a>, 
                <a href="http://acidjs.wemakesites.net/" target="_blank">Acid.JS Web.UI</a>, 
                <a href="https://acidmartin.wordpress.com/" target="_blank">my blog</a> 
                or follow me on <a href="https://twitter.com/#!/wemakesitesnet" target="_blank">Twitter</a>.</p>
        <ul class="css3-radios">
            <li><label><input type="radio" checked="checked" name="radios-01" /><span>checked radio button</span></label></li>
            <li><label><input type="radio" name="radios-01" /><span>unchecked radio button</span></label></li>
            <li><label><input type="radio" name="radios-01" disabled="disabled" /><span>disabled radio button</span></label></li>
        </ul>
        
        <ul class="css3-checkboxes">
            <li><label><input type="checkbox" checked="checked" name="checkbox-01" /><span>selected checkbox</span></label></li>
            <li><label><input type="checkbox" name="checkbox-02" /><span>unselected checkbox</span></label></li>
            <li><label><input type="checkbox" name="checkbox-03" disabled="disabled" /><span>disabled checkbox</span></label></li>
        </ul>
    </body>
</html>
