@{
    ViewBag.Title = "Avondprogramma";
}

<h1>Avondprogramma</h1>
<img src="/Content/img/gitaar.png" title="Avondprogramma" alt="Vinkeveen's got talent.."/>
<p>De precieze invulling van het avondprogramma blijft een verassing. Denk aan rosé, zacht kabbelend water en lekker met je blote voeten in het gras luisteren naar sympathieke muzikanten...</p>
<p>Aanmelden voor het avondprogramma is niet nodig. Atleten die meedoen kunnen bij hun inschrijving aangeven als ze willen blijven <a href="Kamperen">kamperen</a>. Overige aanwezigen kunnen zelf informeren naar overnachtingsmogelijkheden bij de camping bij <a href="http://www.winkeloord.nl/" target="_blank">Jachthaven Winkeloord</a>.</p>
<a href="http://www.tijsgroen.nl" target="_blank"><img src="/Content/img/TijsGroen.jpg" style="float: right;" alt="Tijs Groen" title="Tijs Groen"/></a>
<p>Tipje van de sluier: Tijs Groen is één van de muzikanten die het avondprogramma van Het Rondje Eilanden komt opluisteren. Als organisatie zijn wij erg blij met de komst van de energieke gypsey gitarist die naast muzikant ook atleet is. Hij werd dit jaar zefs al Nederlands Kampioen op de 3000m en de korte cross. De combinatie muziek en sport maken wij als organisatie ook graag! Kijk op <a href="http://www.tijsgroen.nl" title="Tijs Groen - Gypsy muzikant én Nederlands Kampioen 3000 m.">www.tijsgroen.nl</a> of de video van TV Gelderland op de voorpagina als je niet kunt wachten tot 4 augustus.</p>
<img src="/Content/img/GambaSpiesSpaansklein_small.jpg" style="float: right;" alt="De culinaire sluier..." title="De culinaire sluier" />
<p>Voor de erg nieuwsgierigen kunnen we tot slot (onder voorbehoud) verklappen dat zich achter de culinaire sluier onder meer verschuilt: een gambaspies, geitenkaas en een frisse pastasalade.</p>