@{
    ViewBag.Title = "Finale serie";
}

<h1>Finale serie</h1>
<img src="/Content/img/openwaterswim.png" title="#HRE Finale: Cross Aquathlon Battle" />
<p>Voor de snelste dames en heren uit de Tijdrit ronde vind nog een speciale extra Finale Ronde plaats! Om je te plaatsen voor deze finale moet je tijdens de tijdrit ronde bij de snelste 50 heren of de snelste 30 dames horen. Daarnaast moeten deelnemers ook binnen de limiet van 1 uur finishen. Voor deze fanatieke snelheidsduivels was één ronde namelijk wellicht nog niet ver genoeg. De overige deelnemers kunnen alvast van het avondprogramma gaan genieten en toekijken hoe de finalisten zich nogmaals in het zweet werken.</p>
<img src="/Content/img/klamer.png" title="Dame of Heer, wie wint de #HRE 'Battle of the Sexes'?" style="float: left;"/>
<p>De Finale ronde kent, in tegenstelling tot de @Html.ActionLink("Tijdrit Ronde", "TijdRace", "Programma"), wel een gezamenlijke start. De eindwinnaar is daardoor simpelweg degene die als eerste over de streep komt. Voor de nummer 2 en 3 zijn ook nog prijzen. Voor extra spanning vindt bij de Finale Ronde ook een 'battle of the sexes' plaats. De dames in de Finale Ronde starten gezamenlijk enkele minuten voor de heren. Voor de toeschouwers is de vraag wie als eerste over de streep komt: een man of een vrouw. Voor de mensen.</p>
<p>Let op: Als je voor de finale gaat is het van belang om je twee ronden tactisch in te delen. Voor degenen die zich geplaatst hebben voor de finale is de precieze uitslag uit de Tijdrit ronde verder niet meer van belang. Voor de einduitslag is dan je resultaat uit de finale zelf bepalend. Voor de totaaluitslag van alle deelnemers worden de uitslagen van de Finale ronde en de Tijdrit ronde in elkaar 'geschoven', zodat iedereen een plekje in de einduitslag heeft.</p>
