@{
    ViewBag.Title = "Programma";
}

<h1>Programma 3-8-13</h1>
<img src="/Content/img/boekje-pen.png" title="Programma" />
<p>Het evenement bestaat uit de sportwedstrijd en aansluitend een gezellig avondprogramma mét live muziek en eten. Iedereen doet zijn eigen rondje eilanden met zijn eigen individuele starttijd. Tijdens het avondprogramma starten de snelste atleten en atletes tegen elkaar opnemen in een extra finaleronde (format iets anders dan in 2012).</p>
<h2>Indicatief tijdschema</h2>
<ul class="wedstrijd-schema">
    <li><span class="wedstrijd-schema-tijd">14:00-15:00</span> Aanmelding geopend (tot uiterlijk half uur voor de eerste start)</li>
    <li><span class="wedstrijd-schema-tijd">15:30</span> Start @*Html.ActionLink("Tijdrit Ronde", "Tijdrace", "Programma") *@ Hét Rondje Eilanden (elke 10 seconde vertrekken 2 deelnemers)</li>
    <li><span class="wedstrijd-schema-tijd">18:00</span> Start @*Html.ActionLink("Avondprogramma", "Avond", "Programma") *@ avondprogramma met prijsuitreiking, de finale, muziek en eten</li>
    <li><span class="wedstrijd-schema-tijd">21:00</span> Einde live muziek</li>
</ul>
