@{
    ViewBag.Title = "Kamperen";
}

<h1>Kamperen</h1>
<img src="/Content/img/vuurkorf.jpg" title="Kamperen" />
<p>Je kunt na het bezoeken van het avondprogramma blijven logeren. Geef bij je aanmelding voor de wedstrijd aan als je na afloop wilt blijven kamperen al dan niet met je meegenomen supporters. Zo kun je relaxed het hele avondprogramma meemaken. En zondagochtend lekker ontspannen wakker worden aan de plassen.</p>
