@{
    ViewBag.Title = "De Tijdrit Ronde";
}

<h1>Tijdrit Ronde</h1>
<img src="/Content/img/stopwatch.png" style="float: right;" title="Tijdrit Ronde - #HRE main event" alt="Het Rondje Eilanden"/>
<p>De Tijdrit Ronde is het hoofdprogramma van het Rondje Eilanden. Hier start elke deelnemer individueel voor zijn eigen persoonlijke uitdaging. Electronische tijdregistratie bepaalt de totaaltijd van elke deelnemers door de eindtijd te corrigeren met de starttijd. Je zult doorgaans altijd wel andere deelnemers voor en achter je zien, maar door de aparte start zit je niet meteen in de massa.</p>
<p>Je start Het Rondje Eilanden op Zandeiland 1 nabij Abcoude en voltooit de ronde langs alle 12 eilanden voor totaal zo'n 5 km hardlopen en 1500 meter zwemmen!</p>
<img src="/Content/img/rondje_smaller.png" style="float: left;" title="Strijd tegen de tijd" alt="Strijd tegen de tijd" />
<br clear="all" />
<p>Na afloop van de tijdrit ronde is een prijsuitreiking met natura prijzen van onze sponsoren</p>
<ul>
  <li>Snelste loper en loopster (eiland 1): een waardebon 50 euro Run2Day)</li>
  <li>Snelste zwemmer en zwemster (eiland 2): een badpak/zwembroek van zwempakshop.nl)</li>
  <li>De 3 snelste zwemlopers en zwemloopsters (hele ronde): een paar Vibram Fivefingers twv &euro;130,-</li>
</ul>
<p>Na de prijsuitreiking word de volledige (maar voorlopige) uitslag van de tijdrit serie bekend gemaakt. Daarna kan het grote nagenieten beginnen bij het @Html.ActionLink("avondprogramma", "Avond", "Programma"). Behalve voor de 30 snelste dames en 50 snelste heren die dan weten dat nog een rondje moeten/mogen tijdens de @Html.ActionLink("finale", "Finale", "Programma").</p>
